@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

:root {
  /* we will use four color for our website throughout the application. */
  --yellow-theme-background-color: #1d1d1d;
  --yellow-theme-main-color: #ffdd40;
  --yellow-theme-sub-text-color: #ffffff;
  --yellow-thme-nav-background-color: #373431;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--yellow-theme-background-color);
}

#root {
  height: 100%;
}
